.landing-background
{
background-image: url(../img/Web.jpg);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
}
.landing-background1
{
background-image: url(../img/Project_162-05.jpg);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
}
.landing-background2
{
background-image: url(../img/Project_162-04.jpg);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
}
.landing-background
{
background-image: url(../img/Web1.jpg);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
}
.landing-background4
{
background-image: url(../img/Project_162-04.jpg);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background5
{
background-image: url(../img/img5.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background6
{
background-image: url(../img/img6.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background7
{
background-image: url(../img/img7.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background8
{
background-image: url(../img/img8.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background9
{
background-image: url(../img/img9.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background10
{
background-image: url(../img/img10.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background11
{
background-image: url(../img/img11.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background12
{
background-image: url(../img/img12.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background13
{
background-image: url(../img/img13.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background14
{
background-image: url(../img/img14.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background15
{
background-image: url(../img/img15.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background16
{
background-image: url(../img/img16.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background17
{
background-image: url(../img/img17.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
.landing-background18
{
background-image: url(../img/img18.png);
background-size: cover;
min-width: 100%;
min-height: 100%;
background-position: center;
background-repeat:no-repeat;
background-attachment: fixed;
}
